*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #111;
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.buttons{
  border: 2px red solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 90px;
  width: fit-content;
  background-color:aliceblue;
  gap: 10px;
  padding: 5px;
  justify-content: space-between;
}

button{
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border: 2px rgb(73, 207, 225) solid;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}