*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #111;
  color: white;
}

.nav{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}

.nav h1{
  margin-left: 30px;
  margin-bottom: 5px;
}

.nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: bold;
  margin-right: 30px;
  cursor: pointer;
}

.nav ul li:hover{
  color: rgb(25, 115, 174);
  text-shadow: 0px 0px 15px #111;
}

button{
  background-color: red;
  border: 2px green solid;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  color: white;
}

button:hover{
  background-color: green;
  border: 2px red solid;
  color: white;
}