@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  background-color: #111;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
