.header {
  width: 100%;
  height: 64px;
  background-color: #141127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: #d1d5db;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  color: #ffffff;
}
